body {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ddf0ff;
	font-family: sans-serif;
	font-size: 16px;
}

#loader {
	width: 100vw;
	height: 100vh;
	background-color: rgba(58, 58, 58, 0.55);
	position: absolute;
	left: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

#loader-svg {
	height: 32px;
}

#prompt {
	width: 100vw;
	height: 100vh;
	background-color: rgba(58, 58, 58, 0.55);
	position: absolute;
	left: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

#prompt-display {
	background-color: white;
	height: 30vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
}

#message {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#prompt-cancel {
	align-self: flex-end;
	padding: 5px;
}

.refresh-btn {
	margin-bottom: 10px;
	align-self: center;
	width: 30%;
}

#prompt-cancel:hover {
	cursor: pointer;
}

@media screen and (max-width: 576px) {
	body {
		font-size: 12px;
	}

	#prompt-display {
		width: inherit;
		display: flex;
		flex-direction: column;
	}
}