#header {
	height: 50px;
	background-color: #223127;
	color: white;
	font-size: 24px;
	padding-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header:hover {
	cursor: pointer;
}