#match-creator {
	background-color: white;
	border-bottom: 1px solid #c4c4c4;
}

#vs-text {
	padding: 10px;
	/* border: 1px solid #c4c4c4; */
	border-radius: 20px;
	margin: 10px;
	background-color: white;
}

#team-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: #3c6e71;
}

.team-input {
	margin-left: 10px;
	margin-right: 10px;
}

#team-info-display {
	background-color: white;
	height: 600px;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}


.player-type-icon {
	height: 16px;
}

.team-info-grid {
	width: 30%;
	/* padding: 10px */
}

.select-team-prompt {
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #bdd4e7;
	border-color: white!important;
}

.align-right {
	text-align: right;
	margin-right: 10px;
}

.align-left {
	text-align: left;
}

.player-cell {
	padding: 10px;
	border-bottom: 1px solid #c4c4c4;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
}

.team-title-header {
	border-top: 1px solid #c4c4c4;
	background-color: #c1cad6;
	border: none!important;
}

#match-type-config {
	display: flex;
	justify-content: center;
	background-color: #6c6ea0;
	padding: 10px;
}

#stadium-selector {
	width: 220px;
	margin-left: 20px;
}

#simulate-btn {
	display: flex;
	justify-content: center;
	background-color: #474973;
	padding: 10px;
}

@media screen and (max-width: 576px) {
	.team-info-grid {
		width: 50%;
	}

	#team-selector {
		display: flex;
		flex-direction: column;
	}
}

