#stream-match-info {
	height: 50px;
	background-color: white;
	display: flex;
	align-items: center;
	padding-left: 20px;
	font-weight: bold;
	border-bottom: 1px solid #c4c4c4;
}

#score-and-commentary {
	display: flex;
}

#stream-scorecard-display {
	width: 60%;
}

#stadium-name {
	padding-left: 5px;
	color: #919191;
}

#match-status-control {
	display: flex;
	height:50px;
	background-color: white;
	border-bottom: 1px solid #c4c4c4;
	align-items: center;
}

#match-control-btn, #current-match-status {
	padding-left: 10px;
}

#commentary {
	width: 40%;
	background-color: white;
	border-left: 1px solid #c4c4c4;
}

.commentary-data {
	height: 75vh;
	overflow-y: scroll;
}

.overend-commentary {
	margin: 5px;
	background-color: #114B5F;
	color: white;
}

.ball-data-ball, .ball-data-overend {
	padding: 10px;
}

.ball-data-boundary {
	color: green;
}

.ball-data-wicket {
	color: red;
}

.ball-data-extra {
	color: #888;
}

.scorecard-header-display {
	height: 50px;
	background-color: #223127;
	color: white;
	padding-left: 20px;
	border-bottom: 1px solid #c4c4c4;
	display: flex;
	align-items: center;
}

#stream-scorecard {
	background-color: white;
	padding: 5px;
}

#stream-scorecard-group {
	height: 75vh;
	overflow-y: scroll;
}

.scorecard-header {
	background-color: #4c4b63;
	margin: 5px;
	padding: 10px;
	color: white;
}

#batsman-cell {
	padding: 5px;
	margin: 5px;
	display: flex;
}

.batsman-cell-highlight {
	background-color: #C6DABF;
}

.batsman-title {
	width: 30%;
}

.batsman-header {
	padding: 5px;
	margin: 5px;
	background-color: #aba8b2;
	display: flex;
	justify-content: flex-start;
}

.header-stats {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.dismissal-header {
	width: 25%;
}

.batsman-stat {
	width: 10%;
}

.extras, .total {
	padding: 5px;
	margin: 5px;
	font-weight: bold;
	display: flex;
}

#scoreboard-display {
	display: flex;
	background-color: #68b0ab;
	color: white;
	/* padding: 10px; */
	/* padding-left: 20px; */
	font-size: 24px;
	justify-content: center;
}

.fow {
	flex-wrap: wrap;
	flex-grow: 1;
	padding-right: 10px;
	width: inherit;
}

.fow-element {
	padding-left: 10px;
}

.left-align {
	text-align: left;
	justify-content: flex-start;
}

.ball-data {
	margin: 5px;
	padding: 5px;
	background-color: darkseagreen;
	width: 30px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wicket-ball {
	background-color: #d30000;
}

.boundary-ball {
	background-color: green;
}

/* #on-crease, #current-bowler {
	padding-left: 20px;
} */

#score-summary {
	padding: 10px;
	padding-left: 20px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	/* flex-grow: 1; */
	width:30%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#current-bowler {
	padding: 10px;
	/* flex-grow: 2; */
	width:30%;
	padding-left:30px;
}

#on-crease {
	padding: 10px;
	/* flex-grow: 2; */
	text-align: right;
	width:30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-right: 30px;
}

.score-bottomline {
	margin-top: 5px;
}

.current-over-data {
	display: flex;
	flex-direction: row;;
}

#scoreboard-share {
	height: 50px;
	background-color: white;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

/* responsive bullshit */

@media screen and (max-width: 920px) {
	#scoreboard-display {
		font-size: 12px;
		flex-wrap: wrap;
		position: sticky;
		top: 85px;
	}

	#match-status-control {
		position: sticky;
		top: 0px;
		height: 85px;
		flex-direction: column;
	}

	#match-control-btn {
		padding-top: 10px;
	}

	#current-match-status {
		padding-bottom: 10px;
	}

	#score-summary {
		border-right: 0px;
	}

	#current-bowler {
		border-top: 1px solid white;
		flex-grow: 1;
		padding-left: 0px;
	}

	#current-bowler-name {
		text-align: center;
	}

	#score-and-commentary {
		margin-top: 5px;
		flex-direction: column;
	}

	#stream-scorecard-display {
		width: inherit;
	}

	#stream-scorecard-group {
		overflow-y: auto;
		height: inherit;
	}

	#commentary {
		border-top: 1px solid #c4c4c4;
		border-left: none;
		width: inherit;
	}

	.current-over-data {
		display: flex;
		justify-content: center;
	}


}
