<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beamer</title>
	<!-- IMPORT ALL STYLES -->
	<link rel="stylesheet" href="%BASEPATH%/css/app.css">
	<link rel="stylesheet" href="%BASEPATH%/css/b-header.css">
	<link rel="stylesheet" href="%BASEPATH%/css/homepage.css">
	<link rel="stylesheet" href="%BASEPATH%/css/stream.css">
</head>

<!-- ALL TEMPLATES GO HERE -->

<!-- Header: Used for showing the title of the simulator. -->
<script type="text/x-template" id="b-header">
	<div @click="gotoHomepage()" id="header">
		Beamer
	</div>
</script>

<!-- Matchcreator: Contains the widgets used for configuring the match settings. -->
<script type="text/x-template" id="match-creator">
	<div id="match-creator">
		<div id="team-selector">
			<select :disabled="!hasTeamListLoaded" @change="teamChanged(1)" v-model="private.team1" class="team-input">
				<option v-for="team in shared.teamList" v-bind:value="team.id">
					{{team.name}}
				</option>
			</select>

			<span id="vs-text">vs</span>

			<select :disabled="!hasTeamListLoaded" @change="teamChanged(2)" v-model="private.team2" class="team-input">
				<option v-for="team in shared.teamList" v-bind:value="team.id">
					{{team.name}}
				</option>
			</select>
		</div>
		<div id="match-type-config">
			<select>
				<option>
					ODI
				</option>
			</select>
			<select id="stadium-selector" v-model="private.stadiumId">
				<option v-for="stadium in shared.stadiumList" v-bind:value="stadium.id">
					{{stadium.name}}
				</option>
			</select>
		</div>
		<div id="simulate-btn">
			<button :disabled="anyFieldEmpty" @click="simulateMatch()"> Start </button>
		</div>
	</div>
</script>

<!-- Team Info Display: Contains the 2 team grids, which contains the player list for the selected team. -->
<script type="text/x-template" id="team-info-display">
	<div id="team-info-display">
		<team-info-grid :team-data="shared.matchSettings.team1" align-right></team-info-grid>
		<team-info-grid :team-data="shared.matchSettings.team2" align-left></team-info-grid>
	</div>
</script>

<!-- Team Info Grid: Contains the list of players for a team -->
<script type="text/x-template" id="team-info-grid">
	<div class="team-info-grid" :class="{'align-right': alignRight, 'align-left': alignLeft }">
		<div 
			class="select-team-prompt" 
			v-if="teamData.id === -1 || teamData.id === undefined"
			>
			Team Not Selected
		</div>
		<span v-else>
		<div 
			class="player-cell team-title-header"  
		> {{teamData.name}} </div>
		<player-cell 
			v-for="player in teamData.playerList" 
			:key="player.id"
			:player="player" 
			:align-left="alignLeft"
			:align-right="alignRight"></player-cell>
		</span>
	</div>
</script>

<!-- Player Cell: Contains the player name and other details -->
<script type="text/x-template" id="player-cell">
	<div class="player-cell" 
		:title="player.name"
		>
		<span v-if="player.player_role === 'captain' && alignRight">(c)</span>
		<span v-if="player.player_role === 'wicketkeeper' && alignRight">(wk)</span>
		<img class="player-type-icon" v-if="player.player_type === 'bowler' && alignLeft" src="./static/svg/ball.svg">
		<img class="player-type-icon" v-if="player.player_type === 'batsman' && alignLeft" src="./static/svg/bat.svg">
		<img class="player-type-icon" v-if="player.player_type === 'wicketkeeper' && alignLeft" src="./static/svg/gloves.svg">
		<img class="player-type-icon" v-if="player.player_type === 'allrounder' && alignLeft" src="./static/svg/allrounder.svg">
		{{ player.batting_name }} 
		<img class="player-type-icon" v-if="player.player_type === 'bowler' && alignRight" src="./static/svg/ball.svg">
		<img class="player-type-icon" v-if="player.player_type === 'batsman' && alignRight" src="./static/svg/bat.svg">
		<img class="player-type-icon" v-if="player.player_type === 'wicketkeeper' && alignRight" src="./static/svg/gloves.svg">
		<img class="player-type-icon" v-if="player.player_type === 'allrounder' && alignRight" src="./static/svg/allrounder.svg">
		<span v-if="player.player_role === 'captain' && alignLeft">(c)</span>
		<span v-if="player.player_role === 'wicketkeeper' && alignLeft">(wk)</span>
	</div>
</script>

<!-- Homepage: Loaded by default on /. Currently only contains the matchcreator. -->
<script type="text/x-template" id="homepage">
	<div id="homepage">
		<match-creator></match-creator>
		<team-info-display></team-info-display>
	</div>
</script>

<!-- ############################ STREAM DISPLAY COMPONENTS ############################ -->

<script type="text/x-template" id="stream-display">
	<div id="stream-display">
		<stream-match-info 
			:team1="team1.name" 
			:team2="team2.name"
			:stadium="stadium.name" ></stream-match-info>
		<match-status-control></match-status-control>
		<scoreboard-share></scoreboard-share>
		<scoreboard-display v-if="isReady"></scoreboard-display>	
		<div v-if="isReady && !isFF" id="score-and-commentary">
			<stream-scorecard-display></stream-scorecard-display>
			<commentary></commentary>
		</div>
		
	</div>
</script>

<script type="text/x-template" id="stream-match-info">
	<div id="stream-match-info">
		<span>{{team1}} vs {{team2}}, <span id="stadium-name"> {{ stadium }} </span></span>	
	</div>
</script>

<script type="text/x-template" id="match-status-control">
	<div id="match-status-control">
		<div id="match-control-btn"> 
			<button @click="slowDown()"> ◀◀ </button>
			<button @click="toggleMatchState()" > {{getButtonText}} </button> 
			<button @click="speedUp()"> ▶▶ </button>
			<button @click="ff()"> ⏭ </button>
			
		</div>
		<div id="current-match-status"> {{ getStateText }} {{ getResultText }} </div>
	</div>
</script>

<script type="text/x-template" id="stream-scorecard-display">
	<div id="stream-scorecard-display">
		<div class="scorecard-header-display"> Scorecard </div>
		<div id="stream-scorecard-group">
			<stream-scorecard 
				:batting-team-id="inningsOrder[0]"
				:bowling-team-id="inningsOrder[1]"> 
			</stream-scorecard>
			<stream-scorecard
				:batting-team-id="inningsOrder[1]"
				:bowling-team-id="inningsOrder[0]">
			</stream-scorecard>
		</div>
	</div>
</script>

<script type="text/x-template" id="commentary">
	<div id="commentary">
		<div class="scorecard-header-display"> Commentary </div>
		<div class="commentary-data">
			<div v-for="(line, index) in commentary" :key="index">
				<div class="ball-data-ball" v-if="line.type === 'ball'"
				:class="[getClass(line)]">
					{{ line.data }}
				</div>

				<div class="ball-data-overend overend-commentary" v-if="line.type === 'overEnd'">
					{{ line.data }}
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/x-template" id="stream-scorecard">
	<div id="stream-scorecard">
		<div class="scorecard-header"> {{getTeamById(battingTeamId).name}} </div>
		<div class="batsman-header"> 
			<div class="batsman-title"> Batsman </div>
			<div class="dismissal-header"></div>
			<div class="header-stats">
				<div> R </div>
				<div> B </div>
				<div> 4 </div>
				<div> 6 </div>
				<div> SR </div>
			</div>
		</div>
		<batsman-cell v-for="player in getTeamById(battingTeamId).playerList" :batsman="player" :key="player.id"></batsman-cell>
		<div class="extras"> 
			<div class="batsman-title"> Extras </div>
			<div class="dismissal-header"></div>
			<div class="header-stats left-align"> {{getTeamById(battingTeamId).score.extras}} </div>
		</div>
		<div class="total"> 
			<div class="batsman-title"> Total </div>
			<div class="dismissal-header"></div>
			<div class="header-stats left-align"> {{getTeamById(battingTeamId).score.runs}} </div>
		</div>
		<div class="total">
			<div class="batsman-title"> FoW </div>
			<div class="header-stats left-align fow">
				<div class="fow-element" v-for="(f, index) in getTeamById(battingTeamId).fow">
					{{f}}
				</div>
			</div>
		</div>

		<div class="batsman-header"> 
			<div class="batsman-title"> Bowler </div>
			<div class="dismissal-header"></div>
			<div class="header-stats">
				<div> O </div>
				<div> R </div>
				<div> W </div>
				<div> NB </div>
				<div> Wi </div>
				<div> ER </div>
			</div>
		</div>
		<bowler-cell v-for="player in getTeamById(bowlingTeamId).playerList" :bowler="player" :key="player.id"></bowler-cell>
	</div>
</script>

<script type="text/x-template" id="batsman-cell">
	<div id="batsman-cell" :class="{'batsman-cell-highlight': batsman.batting.dismissalText === 'not out'}">
		<div class="batsman-title" > {{ batsman.battingName }} 
			<span v-if="batsman.playerRole === 'captain'">(c)</span>
			<span v-if="batsman.playerRole === 'wicketkeeper'">(wk)</span>
			<span v-if="batsman.id === onStrike.id">*</span>
		</div>
		<div class="dismissal-header"> {{ batsman.batting.dismissalText}} </div>
		<div class="header-stats">
			<div class="batsman-stat"> {{ batsman.batting.runs }} </div>
			<div class="batsman-stat"> {{ batsman.batting.balls }} </div>
			<div class="batsman-stat"> {{ batsman.batting.fours }} </div>
			<div class="batsman-stat"> {{ batsman.batting.sixes }} </div>
			<div class="batsman-stat"> {{ getSR(batsman) }} </div>
		</div>
	</div>
</script>

<script type="text/x-template" id="bowler-cell">
	<div id="batsman-cell" v-if="bowler.bowling.balls !== null">
		<div class="batsman-title" > {{ bowler.battingName }} </div>
		<div class="dismissal-header"> </div>
		<div class="header-stats">
			<div class="batsman-stat"> {{ getOvers(bowler) }} </div>
			<div class="batsman-stat"> {{ bowler.bowling.runs }} </div>
			<div class="batsman-stat"> {{ bowler.bowling.wickets }} </div>
			<div class="batsman-stat"> {{ bowler.bowling.noBalls }} </div>
			<div class="batsman-stat"> {{ bowler.bowling.wides }} </div>
			<div class="batsman-stat"> {{ getER(bowler) }} </div>
		</div>
	</div>
</script>

<script type="text/x-template" id="scoreboard-display">
	<div id="scoreboard-display">
		<div id="on-crease" v-if="onStrike.batting && runnerEnd.batting"> 
			<div> {{onStrike.battingName}}: {{onStrike.batting.runs}}({{onStrike.batting.balls}}) </div>	
			<div class="score-bottomline"> {{runnerEnd.battingName}}: {{runnerEnd.batting.runs}}({{runnerEnd.batting.balls}}) </div>
		</div>
		<div id="score-summary"> 
			<div> {{battingTeam.shortform}}: {{battingTeam.score.runs}}-{{battingTeam.score.wickets}} </div>
			<div class="score-bottomline"> 
				<span> {{battingTeam.score.overs}}.{{battingTeam.score.overBalls}} </span>
				<span v-if="currentInning == 2"> | Target: {{battingTeam.score.target}} </span>
			</div>			
		</div>
		<div id="current-bowler" v-if="currentBowler.bowling"> 
			<div id="current-bowler-name"> {{currentBowler.battingName}}: 
			{{currentBowler.bowling.wickets}}-{{currentBowler.bowling.runs}} </div>	
			<div class="score-bottomline current-over-data"> 
				<div class="ball-data" 
					v-for="(ball, index) in battingTeam.score.currentOver"
					:class="{ 'wicket-ball': getBallDisplayText(ball) === 'W', 
							'boundary-ball': (getBallDisplayText(ball) === '4' || getBallDisplayText(ball) === '6')}">
					{{ getBallDisplayText(ball) }}
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/x-template" id="scoreboard-share">
	<div id="scoreboard-share">
		<div style="padding-right:10px;">
			Shareable scoredcard link </div>
		<input style="flex-grow:0.8; margin-right: 10px" v-model="link" type=""> 
	</div>
</script>


<!-- ############################ LOADER/PROMPT COMPONENTS ############################ -->

<script type="text/x-template" id="loader">
	<div id="loader">
		<img id="loader-svg" src="%BASEPATH%/static/svg/loader.svg">
	</div>
</script>

<script type="text/x-template" id="prompt">
	<div id="prompt">
		<div id="prompt-display">
			<div @click="close()" id="prompt-cancel" v-if="!shared.hideCloseButton">
				<img src="./static/svg/cancel.svg">
			</div>
			<div id="message"> {{ shared.promptMessage }} </div>
			<button @click="refresh()" class="refresh-btn"> Refresh </button>
		</div>
	</div>
</script>



<body>
	<div id="app">
		<loader v-if="shared.loading"></loader>
		<prompt v-if="shared.prompt"></prompt>
		<b-header></b-header>
		<router-view></router-view>
	</div>

	<!-- IMPORT ALL SCRIPTS -->
	<script src="%BASEPATH%/static/js/vue%MIN%.js"></script>
	<script src="%BASEPATH%/static/js/vue-router%MIN%.js"></script>
	<script src="%BASEPATH%/static/js/vuex%MIN%.js"></script>
	<script src="%BASEPATH%/config.js"></script>
	<script src="%BASEPATH%/api.js"></script>
	<script src="%BASEPATH%/store.js"></script>
	
	<script src="%BASEPATH%/components/b-header.js"></script>
	<script src="%BASEPATH%/components/homepage.js"></script>
	<script src="%BASEPATH%/components/stream.js"></script>
	<script src="%BASEPATH%/main.js"></script>
</body>
</html>

